*.class
*.log
.DS_Store
*id_rsa
*windows_rsa
*.pem
*.key
*.pfx
*.p12
*.secret
*.secrets
openssl.work.cnf
.ensime
.ensime_lucene
*.class
*.pyc
*.log
.history
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
dump.rdb
tmp
gen-py.tornado/
.dbshell
*.tfstate*
*.tfstate.backup
tags
tk_critical_path_output
.temp.css
.terraform
terraform.tfstate*
.terraform.lock.hcl
.metals/
.bloop/
.bsp/
project/metals.sbt
coursier
metals.sbt
jjdelatorre.sbt
.idea/
.vscode/
.jvmopts
.java-version
node_modules
package-lock.json
.cache
elm-stuff